<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EmployeeService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEmployeeService" contract="EmployeeServiceRef.IEmployeeService"
                name="WSHttpBinding_IEmployeeService">
                <!--<identity>
                    <userPrincipalName value="ADWEB\Dipendra.Shekhawat" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
